/*  */
.ads {
    background-image: url('https://www.telluride.com/site/assets/files/44107/dsc07395lr_2.2400x1200.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.ad_title {
    margin-top: 20%;
    color: var(--white);
}

.ad_slogan {
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
}

.snow-btn {
    color: var(--darkRed);
    font-family: 'Alfa Slab One', cursive;
}

.snow-btn:hover {
    color: var(--white);
    background-color: var(--darkRed);
    border: none;
}

/* booking full tab */
.booking-full-tab {
    background-color: var(--offWhite);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.btn-section {
    list-style: none;
    border-radius: 5px;
}

.js-tabList__item {
    height: 50px;
    background-color: #212121;
    text-align: center;
    padding: 10px;
}


.tab__link {
    color: var(--white);
    text-decoration: none;
}

.tab__link:hover {
    color: var(--darkRed);
    cursor: pointer;
}

form {
    display: flex;
    justify-content: space-around;
}

fieldset {
    display: contents;
}


input {
    border: 2px solid gray;
    border-radius: 3px;
    color: gray;
}

.flight {
    display: none;
}

.offers {
    display: none;
}

.shuttles {
    display: none;
}

.btn-lodging {
    background-color: transparent;
    border: 2px solid var(--darkRed);
    border-radius: 3px;
    padding: 3px;
    font-size: 13px;
}

.promo-grid-section {
    justify-content: space-around;
    margin: 50px 0;
}

.promo-one-title {
    padding-top: 35px;
    padding-left: 20px;
}

.promo-one {
    display: flex;
    justify-content: start;
    border: 2px solid var(--offWhite);
    border-radius: 3px;

}

.promo-btn-one {
    color: var(--darkRed);
    cursor: pointer;
}

.promo-two {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--offWhite);
    border-radius: 3px;
}

h1 {
    font-size: 20px;
}

.promo-expl {
    font-size: 15px;
}

.promo-img {
    width: 40%;
    border-radius: 3px;
    height: 50%;
}

.lines {
    color: var(--darkRed);
}

.ski-img {
    width: 80%;
    height: 90%;
    margin-left: 50px;
}

.resort-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
}

.ski-info {
    padding-top: 100px;
}

.ski-topic {
    text-align: initial;
    font-size: 15px;
}

.ski-btn {
    border: none;
    background-color: var(--darkRed);
    color: var(--white);
    padding: 13px;
    font-size: 15px;
    border-radius: 3px;
}

.ski-sec-img {
    position: absolute;
    width: 15%;
    left: 40%;
    bottom: -110%;
    height: 30%;
}

.upcoming-blog {
    margin-top: 5%;
}

.event-info {
    font-family: 'Cinzel', serif;
    font-size: 14px;
}

.see-allevents {
    margin: 3% 0;
    color: var(--darkRed);
    font-family: 'Cinzel', serif;
    cursor: pointer;
}

.upcoming-blog-title {
    color: var(--darkRed);
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display SC', serif;
}

.event-date {
    margin: 3% 0;
    color: var(--gray);
    font-size: 12px;
}

.upcoming-events {
    width: 100%;
}

.another-activity {
    margin-top: 5%;
    margin-bottom: 5%;
}

.actitvity-title {
    color: var(--white);
    text-decoration: none;
}

.actitvity-title:hover {
    color: var(--white);
    text-decoration: none;
}

.activity-info {
    padding-top: 70%;
    padding-left: 10%;
}

.offer-title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}

.activity-one {
    background-image: url("https://www.telluride.com/site/assets/files/37553/pool_5.1200x1209.webp");
    background-size: cover;
    height: 40vh;
}

.activity-two {
    background-image: url("https://www.telluride.com/site/assets/files/42618/telluride_sleigh-1.1200x1209.webp");
    background-size: cover;
    height: 40vh;
}

.activity-three {
    background-image: url("https://www.telluride.com/site/assets/files/36793/telluride_air.1200x1209.webp");
    background-size: cover;
    height: 40vh;
}